@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700,700italic|Ubuntu+Condensed);

* {
	font-family: Ubuntu, Arial, sans-serif;
	margin: 0;
	border: 0;
	padding: 0;
}

html, body {
	background-image: url(../images/dark_wood.png);
}

.main-wrapper {
	background-color: #BF1A1A;
	max-width: 960px;
	margin: 50px auto;
	padding: 30px;
	border-radius: 30px;
}

div[ng-controller="MainController"] {
	background-color: white;
	max-width: 760px;
	margin: 0;
	padding: 50px 100px;
	border-radius: 20px;
}

h1 {
	font-family: "Ubuntu Condensed", Arial, sans-serif;
	text-align: center;
	font-size: 4em;
	font-weight: lighter;
	font-style: italic;
	// margin-bottom: 0.5em;
	padding-bottom: 32px;
	border-bottom: 5px solid black;
}

h1:before, h1:after {
	content: " - ";
}

.tagline-wrapper {
	border-bottom: 5px solid black;
	padding: 1em 0 1em 5%;
}

.tagline-wrapper h2 {
	display: inline-block;
	font-family: "Ubuntu Condensed", Arial, sans-serif;
	font-size: 2em;
	vertical-align: middle;
}

.tagline-wrapper p {
	display: inline-block;
	vertical-align: middle;
	margin-left: 2em;
}

.burger-wrapper {
	margin: 50px 0;
	font-size: 0;
	border-bottom: 5px solid black;
	padding-bottom: 50px;
}

.burger-wrapper img {
	display: inline-block;
	width: 35%;
	margin-left: 5%;
	box-shadow: 0 5px 15px 10px #666;
	outline: 10px solid #BF1A1A;
}

.burger-wrapper .text-wrapper {
	font-size: 16px;
	display: inline-block;
	width: 40%;
	vertical-align: top;
	padding: 0 10%;
}

burger-info h4 {
	font-family: "Ubuntu Condensed", Arial, sans-serif;
	font-size: 2em;
}

burger-info .price {
	font-size: 3em;
	margin: 0.5em 0;
}

burger-info .ingredients strong {
	text-decoration: underline;
}